@inherits LayoutComponentBase

<div id="wrapper">
    <NavMenu />

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            @Body
        </div>

        <SiteFooter />
    </div>
</div>