@using Cosmonaut.Scaler.Shared.Contracts
@using Cosmonaut.Scaler.Shared.Contracts
@using Microsoft.AspNetCore.Components
@inject HttpClient HttpClient

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img class="cosmologo" src="img/logobig.png">
        </div>
        <div class="sidebar-brand-text mx-3">Cosmonaut</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    @if (_accounts != null)
    {
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-database"></i>
                <span>Databases</span>
            </a>
            @foreach (var account in _accounts)
            {
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">@(new Uri(account.ServiceUrl).Host.Split('.').First())</h6>
                        @foreach (var database in account.Databases)
                        {
                            <a class="collapse-item" href="/">@database.Id</a>
                        }
                    </div>
                </div>
            }
        </li>
    }

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>

@functions
{
    List<CosmosDatabaseAccount> _accounts;

    protected override async Task OnInitAsync()
    {
        _accounts = await HttpClient.GetJsonAsync<List<CosmosDatabaseAccount>>("api/cosmos");
    }
}
